@using Application.Features.ProductCategories.Queries.GetList
@using Application.Features.Products.Queries.GetList
@using Core.Application.Responses
@{
    GetListResponse<GetListProductCategoryDto> categories = ViewData[nameof(GetListProductCategoryQuery)] as GetListResponse<GetListProductCategoryDto> ?? new();
    GetListResponse<GetListProductDto> products = ViewData[nameof(GetListProductQuery)] as GetListResponse<GetListProductDto> ?? new();
    Dictionary<string, string> textTranslations = await generalRepository.GetTranslations();
    Dictionary<string, string> settings = await generalRepository.GetSettings();
    TempData["Title"] = textTranslations["menu_header_title"];
    TempData["MetaKeywords"] = textTranslations["menu_keywords_meta"];
    TempData["MetaDescription"] = textTranslations["menu_description_meta"];
}
<section id="top" class="page-banner" style="background: var(--theme-color) url(@settings["menu_cover_image"]) no-repeat center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="page-title">
                    <h1 class="page-headding wow fadeInUp">@textTranslations["menu_page_title"]</h1>
                    <ul class="wow fadeInUp">
                        <li><a asp-controller="Home" asp-action="Index" class="page-name">@textTranslations["home_page_title"]</a></li>
                        <li>@textTranslations["menu_page_title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- --------        --------
    Page Banner End
--------        -------- -->

<section class="menu-list ptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="menu-tabbing wow fadeInUp">
                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="tab-link current" data-tab="tab-1">
                            <a href="#tab-1" class="nav-link active" id="all" data-bs-toggle="tab" data-bs-target="#data_all" role="tab" aria-selected="true">@textTranslations["all_category_title"]</a>
                        </li>

                        @foreach (GetListProductCategoryDto category in categories.Items)
                        {
                            <li role="presentation" class="tab-link" data-tab="category-@(category.Id)">
                                <a href="#category-@(category.Id)" class="nav-link" id="presentation-category-@(category.Id)" data-bs-toggle="tab" data-bs-target="#category-@(category.Id)" role="tab" aria-selected="false">@category.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content wow fadeInUp">
            <div role="tabpanel" class="row tab-pane fade in active show" role="tabpanel" id="data_all" aria-labelledby="all">
                @foreach (GetListProductDto product in products.Items)
                {
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="menu-list-box">
                            <div class="list-img"><a href="#"><img src="@product.ImagePath" alt="@product.Name" /></a></div>
                            <div class="menu-detail">
                                <a href="#" class="iteam-name">@product.Name </a>
                                <span class="iteam-srice" style="width:100%;">@product.Price ₩</span>
                                <p class="iteam-desc">@product.ShortDescription</p>
                                <!-- <a href="shop-detail.html" class="iteam-order">order now</a>-->
                            </div>
                        </div>
                    </div>
                }
            </div>

            @foreach (GetListProductCategoryDto category in categories.Items)
            {
                <div role="tabpanel" class="row tab-pane fade" role="tabpanel" id="category-@(category.Id)" aria-labelledby="category-@(category.Id)">
                    @foreach (GetListProductDto product in products.Items.Where(p => p.CategoryId == category.Id))
                    {
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="menu-list-box">
                                <div class="list-img"><a href="#"><img src="@product.ImagePath" alt="@product.Name" /></a></div>
                                <div class="menu-detail">
                                    <a href="#" class="iteam-name">@product.Name </a>
                                    <span class="iteam-srice" style="width:100%;">@product.Price ₩</span>
                                    <p class="iteam-desc">@product.ShortDescription</p>
                                    <!-- <a href="shop-detail.html" class="iteam-order">order now</a>-->
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>