@using System.Globalization
@using Application.Features.AboutUs.Queries.GetData
@using Application.Features.ContactUs.Queries.GetData

@{
    Dictionary<string, string> textTranslations = await generalRepository.GetTranslations();
    Dictionary<string, string> settings = await generalRepository.GetSettings();
    GetContactUsResponse contactUs = await generalRepository.GetContactUs() as GetContactUsResponse ?? new();
    GetAboutUsResponse aboutus = await generalRepository.GetAboutUs() as GetAboutUsResponse ?? new();
}
<footer>
    <div class="container">
        <div class="footer">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 footer-box">
                    <div class="footer-logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img style="width:@settings["footer_logo_width"]%; height:@settings["footer_logo_height"]%;" alt="lapizzajip" src="@settings["footer_logo"]">
                        </a>
                        <p class="footer-des">@textTranslations["footer_title"]</p>
                        <ul>
                            <li>
                                @textTranslations["contact_us_call_us_title"]
                                @foreach (string phone in contactUs?.Phones?.Split(',') ?? [])
                                {
                                    <a href="tel:@phone">@phone</a>
                                }
                            </li>
                            <li>
                                @textTranslations["contact_us_email_us_title"]
                                @foreach (string email in contactUs?.Emails?.Split(',') ?? [])
                                {
                                    <a href="mailto:@email">@email</a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 footer-box">
                    <div class="opening-hours">
                        <h2>@textTranslations["contact_us_open_time_title"]</h2>
                        <ul>
                            @foreach (string workingHour in contactUs?.WorkingHours?.Split(',') ?? [])
                            {
                                <li>@workingHour</li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 footer-box">
                    <div class="useful-links">
                        <h2>@textTranslations["footer_link_list"]</h2>
                        <ul>
                            <li> <a asp-controller="Home" asp-action="Index">@textTranslations["home_page_title"]</a></li>
                            <li> <a asp-controller="Menu" asp-action="Index">@textTranslations["menu_page_title"]</a></li>
                            <li><a asp-controller="ContactUs" asp-action="Index">@textTranslations["contact_us_page_title"]</a></li>
                            <li><a asp-controller="AboutUs" asp-action="Index">@textTranslations["about_us_page_title"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 copyright-box">
                    <p class="copy-text">@textTranslations["footer_copyright"]</p>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 copyright-box">
                    <ul>
                        @if (!string.IsNullOrEmpty(contactUs?.FacebookAddress))
                        {
                            <li><a href="@contactUs.FacebookAddress"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(contactUs?.TikTokAddress))
                        {
                            <li><a href="@contactUs?.TikTokAddress"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(contactUs?.LinkedinAddress))
                        {
                            <li><a href="@contactUs?.LinkedinAddress"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(contactUs?.InstagramAddress))
                        {
                            <li><a href="@contactUs?.InstagramAddress"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(contactUs?.WhatsappNumber))
                        {
                            <li><a href="@contactUs?.WhatsappNumber"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>