@using System.Globalization
@using Application.Features.ContactUs.Queries.GetData

@{
    Dictionary<string, string> textTranslations = await generalRepository.GetTranslations();
    Dictionary<string, string> settings = await generalRepository.GetSettings();
    GetContactUsResponse contactUs = await generalRepository.GetContactUs() as GetContactUsResponse ?? new();
}

<header id="header">
    <div class="container">
        <div class="row m-0 align-items-center">
            <div class="col-xl-3 col-lg-2 col-md-4 col-3 p-0">
                <div class="navbar-header">
                    <a class="navbar-brand page-scroll" asp-controller="Home" asp-action="Index">
                        <img style="width:@settings["header_logo_width"]%; height:@settings["header_logo_height"]%;" alt="lapizzajip" src="@settings["header_logo"]">
                    </a>
                </div>
            </div>
            <div class="col-xl-9 col-lg-10 col-md-8 col-9 p-0 text-end">
                <div id="menu" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="level">
                            <a asp-controller="Home" asp-action="Index" class="page-scroll">@textTranslations["home_page_title"]</a>
                        </li>
                        <li class="level">
                            <a asp-controller="Menu" asp-action="Index" class="page-scroll">@textTranslations["menu_page_title"]</a>
                        </li>
                        <li class="level">
                            <a asp-controller="ContactUs" asp-action="Index" class="page-scroll">@textTranslations["contact_us_page_title"]</a>
                        </li>
                        <li class="level">
                            <a asp-controller="AboutUs" asp-action="Index" class="page-scroll">@textTranslations["about_us_page_title"]</a>
                        </li>
                    </ul>
                </div>
                <div class="header-right-link">
                    <ul>
                        <li class="call-icon">
                            <a href="tel:123456789">
                                <span class="icon"></span>
                                <div class="link-text">@contactUs?.Phones?.Split(',')?.FirstOrDefault()</div>
                            </a>
                        </li>
                        <li>
                            <ul class="nav navbar-nav">
                                <li class="level dropdown set">
                                    <a style="color: var(--theme-color2); margin: 3px;" href="#" class="page-scroll"><i class="far fa-globe-americas"></i> @CultureInfo.CurrentCulture.Name.ToUpper()</a>
                                    <span class="opener plus"></span>
                                    <div class="langmenu content" style="border: none;border-radius: 15px;box-shadow: var(--box-shadow);padding: 10px;min-width: 80px; text-align:center;">
                                        <div class="langmenu-inner-top">
                                            <ul class="sub-menu-level1">
                                                <li class="level2" style="float: none;">
                                                    <ul class="sub-menu-level2 ">
                                                        <li class="level3"><a class="dropdown-item" asp-controller="Home" asp-action="OnGetSetCultureCookie" asp-route-culture="ko">KO</a></li>
                                                        <li class="level3"><a class="dropdown-item" asp-controller="Home" asp-action="OnGetSetCultureCookie" asp-route-culture="en">EN</a></li>
                                                        <li class="level3"><a class="dropdown-item" asp-controller="Home" asp-action="OnGetSetCultureCookie" asp-route-culture="ru">RU</a></li>
                                                        <li class="level3"><a class="dropdown-item" asp-controller="Home" asp-action="OnGetSetCultureCookie" asp-route-culture="az">AZ</a></li>
                                                        <li class="level3"><a class="dropdown-item" asp-controller="Home" asp-action="OnGetSetCultureCookie" asp-route-culture="tr">TR</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="side-toggle">
                            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><span></span></button>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</header>